body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*Estilos index html */
.vista {
  background-image: url("../assets/images/purple-gradient.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 100%;
  margin-top: 13em;
}

/*Estilos vista lyft*/
.vista-1 {
  background-image: url("../assets/images/city.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
}

a{
  text-decoration: none;
  color: #FFF;
}

a:hover{
  text-decoration: none;
  color: #FFF;
}

.logo-1 {
  width: 100%;
  margin: 13em 0 6em 0;
}

.first {
  background: none;
  color: #FFF;
  border: 2px solid #FFF;
  font-weight: 500;
}

/*Estilos vista sign up*/
.vista-2 {
  background: #FFF;
}

.fa-1 {
  padding-top: .5em;
  color: #CE308B;
}

#number {
  height: 3.3em;
  width: 12.5em;
}

.dropdown-menu {
  min-width: 3em;
}

h5 {
  margin-top: 2em;
}

.next {
  background: #A80077;
  color: #FFF;
  font-weight: 500;
  border-radius: 0;
  margin-top: 5em;
}

 /*Estilos vista lyftcode */
 #codelab {
  margin-top: 8em;
  font-size: 1.5em;
 }

#numbers{
  display: inline-block;

}
/*Estilos vista veryfy */
.labcode {
  background: none
}

h3 {
  display: inline-block;
}

#labnum {
  height: 3em;
  width: 4.5em;
}

#labver {
  margin-left: 4em;
}

/*Estilos vista user*/
#name-1 {
  width: 9em;
}

.user-icon {
  background: none;
}

.input-group {
  margin-bottom: 1em;
}

.terms {
  text-decoration: inherit;
  color: blue ;
}

.terms:hover{
  text-decoration: none;
    color: #CE308B;
}

/*Estilos vista Welcome */
.vista-3 {
  background-image: url("../assets/images/welcome.gif");
  height: 100vh;
}

h1 {
  color: #FFF;
  font-size: 3em;
  margin-top: 3em;
  font-weight: 800;
}

.logo-2 {
  margin-top: 1.5em;
  width: 100%;
}
